@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  cursor: default;
  margin: 0;
  padding: 0;
}

main {
  margin: 1rem 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-weight: 500;
  width: fit-content;
}